{
  "htmlWhitespaceSensitivity": "css",
  "bracketSameLine": true,
  "singleAttributePerLine": false,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "html",
        "printWidth": 120,
        "htmlWhitespaceSensitivity": "css"
      }
    },
    {
      "files": "*.css",
      "options": {
        "parser": "css",
        "printWidth": 100,
        "singleQuote": false
      }
    },
    {
      "files": "*.js",
      "options": {
        "parser": "babel",
        "printWidth": 100,
        "singleQuote": true,
        "trailingComma": "es5"
      }
    }
  ]
}
