# ignore LaTeX intermediate files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot
*.nav
*.snm
*.vrb
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.makeindex
*.ptc
*.idx
*.ind
*.ilg
*.figlist
*.makefile
*.fuse_hidden*
.latexmkrc