
/***********************************************************************************************
 * Media queries to deal with a differeing screen widths and devices
 *
 * Rule of thumb is to put as little as possible in media queries and put common styles in
 * main.css
 **********************************************************************************************/

/* small screens (mostly applies to mobile phones) */
@media (width <= 800px)  {
  body::before {
    /* Portrait version of Michael Hamments photo on unsplash.com */
    background-image: url('../images/michael-hamments-x6VyE3ie1sM-unsplash-portrait.jpg');
  }

  .circular-button-container {
      flex-direction: column;
  }
}

/* Large screens (mostly applies to computers and tablets) */
@media (width > 800px)  {
    body::before {
        /* Landscape version of Michael Hamments photo on unsplash.com */
        background-image: url('../images/michael-hamments-x6VyE3ie1sM-unsplash-landscape.jpg');
    }

    .circular-button-container {
        flex-direction: row;
    }
}
