/*
 *********************************************************************************
 * CSS styles for the glossary-and-faq page of the Web Witchcraft and Wizardry website
 *********************************************************************************
 */

/*
 ********************************************
 * Page specific landmark element styles
 * Arranged vertically using flexbox
 ********************************************
 */

/* override h4-h6 to make them left justified rather tha centered */
h4, h5, h6 {
    text-align: left;
        margin: 2em;
}

dl {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0;
    margin: 5% 0;
    padding: 0 1em;
    align-items: stretch;
}

dt {
    font-weight: bold;
    grid-column: 1;
    margin: 0;
    padding: 0 0.5em;
    border: 1px solid var(--color-light-page-text);
    background-color: var(--color-light-page-background);
    text-align: left;
    min-height: 100%;
    display: flex;
    align-items: center;
}

dd {
    grid-column: 2;
    margin: 0;
    padding: 0 0.5em;
    border: 1px solid var(--color-light-headings-text);
    background-color: var(--color-light-page-background);
    text-align: left;
    min-height: 100%;
    display: flex;
    align-items: center;
}

pre {
    margin: 5em;
    line-height: 1.5;
    text-align: left;
}

.hidden {
    display: none;
}

.magicInvisible:before {
    content: "\f0d0";  /* Font Awesome Magic Wand */
    font-family: "Font Awesome 7 Pro";
    font-weight: 900; /* needed for solid style icons */
}

.magicVisible:before {
    content: "\e2ca";  /* Font Awesome Magic Wand with sparkles */
    font-family: "Font Awesome 7 Pro";
    font-weight: 900; /* needed for solid style icons */
}

.magicInvisible:hover,
.magicVisible:hover {
    cursor: pointer;
}

.faq-text {
    margin: 2em;
    line-height: 1.5;
    text-align: justify;
}

/**********************************************
 * Individual item overrides
 **********************************************/
