/*
 *********************************************************************************
 * CSS styles for the glossary-and-faq page of the Web Witchcraft and Wizardry website
 *********************************************************************************
 */

/*
 ********************************************
 * Page specific landmark element styles
 * Arranged vertically using flexbox
 ********************************************
 */

/* override h4-h6 to make them left justified rather tha centered */
h4, h5, h6 {
    text-align: left;
        margin: 2em;
}

dl {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0;
    margin: 5% 0;
    padding: 0 1em;
    align-items: stretch;
}

dt {
    font-weight: bold;
    grid-column: 1;
    margin: 0;
    padding: 0 0.5em;
    border: 1px solid var(--color-light-page-text);
    background-color: var(--color-light-page-background);
    text-align: left;
    min-height: 100%;
    display: flex;
    align-items: center;
}

dd {
    grid-column: 2;
    margin: 0;
    padding: 0 0.5em;
    border: 1px solid var(--color-light-headings-text);
    background-color: var(--color-light-page-background);
    text-align: left;
    min-height: 100%;
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}

.faq-button {
    display: block;
    margin: 1em auto;
    padding: 1em;
    font-size: large;
    font-weight: bold;
    background-color: var(--color-light-headings-background);
    color: var(--color-light-headings-text);
    border: 0.2em solid var(--color-light-headings-text);
    border-radius: 1em;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.faq-button:hover,
.faq-button:focus {
    background-color: var(--color-light-link-text-hover);
    color: var(--color-light-headings-text);
}

/**********************************************
 * Individual item overrides
 **********************************************/
