/*
 *********************************************************************************
 * CSS styles for the glossary-and-faq page of the Web Witchcraft and Wizardry website
 *********************************************************************************
 */

/*
 ********************************************
 * Page specific landmark element styles
 * Arranged vertically using flexbox
 ********************************************
 */

dl {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0;
    margin: 5% 0;
    padding: 0 1em;
    align-items: stretch;
}

dt {
    font-weight: bold;
    grid-column: 1;
    margin: 0;
    padding: 0 0.5em;
    border: 1px solid var(--color-light-page-text);
    background-color: var(--color-light-page-background);
    text-align: left;
    min-height: 100%;
    display: flex;
    align-items: center;
}

dd {
    grid-column: 2;
    margin: 0;
    padding: 0 0.5em;
    border: 1px solid var(--color-light-headings-text);
    background-color: var(--color-light-page-background);
    text-align: left;
    min-height: 100%;
    display: flex;
    align-items: center;
}

/**********************************************
 * Individual item overrides
 **********************************************/
