/*
 ***************************************************************************
 * CSS styles for the index page of the Web Witchcraft and Wizardry website 
 ***************************************************************************
 */

/* 
 ********************************************
 * Page specific landmark element styles
 * Arranged vertically using flexbox
 ********************************************
 */

/********************************************
 * circular button styles
 ********************************************/

/* N.B. flex-direction in .circular-button-container layout is set in the media query */

.circular-button-container {
    display: flex;
    gap: 2em;
    margin: 2em 0;
    justify-content: space-evenly;
    align-items: center;
}

.circular-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    aspect-ratio: 1 / 1;
    border-radius: 50%; /* Makes it circular */
    color: var(--color-light-headings-text);
    background-color: var(--color-light-page-background);
    border: 0.1em solid var(--color-light-headings-text);
    text-align: center;
    line-height: normal;
    font-family: Anton, sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 1em;
    z-index: 1;
}

.circular-button:hover {
    background-color: var(--color-light-headings-text);
    color: var(--color-light-headings-text);
    border-color: var(--color-light-headings-text);
    transform: scale(1.1);
}

/* link styles for circular buttons */
.circular-href:link {
    color: var(--color-light-link-text);
    text-decoration: none;
}

.circular-href:visited {
    color: var(--color-light-link-text-visited);
    text-decoration: none;
}

.circular-href:hover {
    color: var(--color-light-link-text-hover);
    background-color: var(--color-light-page-background-hover);
    text-decoration: none;
}

.circular-href:focus {
    color: var(--color-light-link-text-focus);
    outline: 0.1em dashed var(--color-light-link-text-focus);
    outline-offset: 0.1em;
    text-decoration: none;
}

/********************************************
 * container classes for flexbox container
 ********************************************/

/**********************************************
 * contained classes for flexbox items
 **********************************************/

/********************************************************
 * border and color classes separate from flexbox styles
 ********************************************************/

/**********************************************
 * Individual item overrides
 **********************************************/
