/*
 *********************************************************************************
 * CSS styles for the license-and-credits page of the Web Witchcraft and Wizardry website 
 *********************************************************************************
 */

  /* 
 ********************************************
 * Page specific landmark element styles
 * Arranged vertically using flexbox
 ********************************************
 */

main ul {
    margin: 2em;
    margin-left: 4em;
    line-height: 1.5;
    text-align: left;
}

main li {
    margin: 0.5em 0;
}

.license-text {
    margin: 2em;
    line-height: 1.5;
 
    text-align: justify;
}

/**********************************************
 * Individual item overrides
 **********************************************/
