/*
 *************************************************************
 * Main CSS styles for the Web Witchcraft and Wizardry website 
 * 
 * These styles apply to all pages and this stylesheet should 
 * be the first linked from all HTML files.
 *************************************************************
 */

 /*
  **********************************************************************
  * Define semantic names for colours to be used on all pages
  * N.B. Use colour names not hex codes for better code readability
  *
  * TODO: User switching between light and dark themes is out of scope 
  * for phase 1 of this project but will be implemented in phase 2
  * using Javascript.
  **********************************************************************
  */

:root {
    /* light theme colours */
    --color-light-page-background: lightgoldenrodyellow;
    --color-light-page-text: darkgreen;
    --color-light-headings-background: lightblue;
    --color-light-headings-text: darkblue;
    --color-light-link-text: darkgreen;
    --color-light-link-text-hover: darkorange;
    --color-light-link-text-visited: darkblue;
    --color-light-link-text-focus: darkorange;

    /* dark theme colours */
    --color-dark-page-background: darkgreen;
    --color-dark-page-text: lightgoldenrodyellow;
    --color-dark-headings-background: darkblue;
    --color-dark-headings-text: lightblue;
    --color-dark-link-text: lightgreen;
    --color-dark-link-text-hover: lightorange;
    --color-dark-link-text-visited: lightblue;
    --color-dark-link-text-focus: lightorange;
}

/* set global styles for the entire body of the html document*/
/* N.B. All dimensions in em units. px units are only used for screen-related properties in media queries */

body {
    position: relative;

    /* set margin and padding */
    margin: 0em;
    padding: 0em;
    min-height: 100vh;

    /* use flexbox to layout header, main and footer vertically */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* use a readable font for body text */
    font-family: "Open Sans", -apple-system, sans-serif;
    font-size: 1.125rem; /* 18px */
    line-height: 1.6;
    color: var(--color-light-page-text);
    background-color: var(--color-light-page-background);   
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* set background image handling (actual image is selected in media-queries.css) */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* ensure the background image opaque to enable readability */
    opacity: 0.7;

    z-index: -1;
}


header {
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 2em;
    flex-shrink: 0;  /* Prevents header from shrinking */
}

nav, main {
    width: 100%;
    width: 100%;
    text-align: center;
    flex-grow: 1;  /* Allows main to grow and fill available space */
}

footer {
    width: 100%;
    font-size: 0.8em;
    text-align: center;
    margin-top: 2em;
    flex-shrink: 0;  /* Prevents footer from shrinking */
}

/* Center all headings and use Anton (a bold sans-serif Google font) */
h1, h2, h3, h4, h5, h6 {
    /* Use Anton font for headings */
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

/* make h1 larger and bolder */
h1 {
    font-size: 1.5em;
    font-weight: 700;
}

/* increas spacing for paragraphs in accordance with WCAG 2.2 */
p {
    margin-bottom: 1.5em;
}

/* general link styles */
a:link {
    color: var(--color-light-link-text);
}
a:visited {
    color: var(--color-light-link-text-visited);
}
a:hover {
    color: var(--color-light-link-text-hover);
}

aLfocus {
    color: var(--color-light-link-text-focus);
    outline: 0.1em dashed var(--color-light-link-text-focus);
    outline-offset: 0.1em;
}

/********************************************************
 * border and color classes
 ********************************************************/

.header-text-container {
    border: var(--color-light-headings-text) 0.2em solid;
    padding: 1em;
    margin: 0.5em auto;
    background-color: var(--color-light-headings-background);
    color: var(--color-light-headings-text);
    border-radius: 2em;
    max-width: 80%;
}

.heavy-border {
    border: var(--color-light-headings-text) 0.2em solid;
    padding: 1em;
    margin: 0.5em;
}

.light-border {
    border: var(--color-light-headings-text) 0.1em dotted;
    padding: 1em;
    margin: 0.5em;
}
