
/***********************************************************************************************
 * Media queries to deal with a differeing screen widths and devices
 *
 * Rule of thumb is to put as little as possible in media queries and put common styles in 
 * main.css
 **********************************************************************************************/

