/*
 ***************************************************************************
 * CSS styles for the students page of the Web Witchcraft and Wizardry website
 ***************************************************************************
 */

/********************************************
 * styles for the student form
 ********************************************
 */

.student-form {
   display: grid;
   grid-template-columns: 30% auto;
   gap: 0.5em;
   row-gap: 0.1em;
   max-width: 80%;
   margin: 0 auto;
   align-items: center;
   border: 0.2em solid var(--color-light-headings-text);
   border-radius: 1em;
}

.student-form-avatar-output-area {
   grid-column: 1;
   background-color: var(--color-light-headings-background);
   border: 0.1em solid var(--color-light-headings-text);
   border-radius: 0.5em;
   padding: 1em;
   margin: 1em;
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 15em;
}

.student-form-avatar-input-area {
   grid-column: 2;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 0;
   margin: 1em 0;
   border-top: 0.1em solid var(--color-light-headings-text);
}

.student-form label {
   text-align: left;
}

.student-form input[type="text"] {
   max-width: 60%;
}

.student-form button[type="submit"] {
   max-width: 20em;
   justify-self: start;
   padding: 1em 2em;
   font-size: 1.1em;
   margin: 1em 0;
   border-radius: 0.5em;
   background-color: var(--color-light-headings-background);
   color: var(--color-light-headings-text);
}

.student-form button[type="submit"]:hover,
.student-form button[type="submit"]:focus {
   background-color: var(--color-light-link-text-hover);
   color: var(--color-light-headings-text);
   cursor: pointer;
}

.student-form hr {
   border: none;
   border-top: 0.1em solid var(--color-light-headings-text);
   margin: 0.5em 0 0;
}

.student-form h4 {
   border-top: 0.1em solid var(--color-light-headings-text);
   padding-top: 0.5em;
   margin-top: 0.5em;
}

.student-form h4:first-of-type {
   border-top: none;
   padding-top: 0;
   margin-top: 0;
}

.student-form-indent {
   padding-left: 2em;
}

.student-form-item {
   margin: 0.2em 0;
   text-align: left;
}

.student-form-item-wide {
   grid-column: 1 / span 4;
   text-align: center;
}

.student-form-choice {
   display: flex;
   align-items: center;
   gap: 0.5em;
   padding: 0.5em;
   border-bottom: 0.1em solid var(--color-light-headings-text);
}

/********************************************
 * styles for the lessons tiles
 ********************************************
 */

.lessons-flexbox {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.lesson-tile {
   background-color: var(--color-light-headings-background);
   border: 0.1em solid var(--color-light-headings-text);
   border-radius: 0.5em;
   padding: 1em;
   margin: 1em;
   flex: 0 0 25%;
   max-width: 25%;
   color: var( --color-light-headings-text);
   justify-self: center;
   align-items: center;
   justify-content: center;
}

.lesson-tile a {
   text-decoration: none;
   color: var(--color-light-headings-text);
}

.lesson-tile:hover,
.lesson-tile:focus {
   background-color: var(--color-light-link-text-hover);
   color: var(--color-light-headings-text);
   cursor: pointer;
}
