/*
 ***************************************************************************
 * CSS styles for the students page of the Web Witchcraft and Wizardry website 
 ***************************************************************************
 */

  /* 
 ********************************************
 * Page specific landmark element styles
 * Arranged vertically using flexbox
 ********************************************
 */

/********************************************
 * container styles
 ********************************************/

/********************************************
 * container classes for flexbox container
 ********************************************/

/**********************************************
 * contained classes for flexbox items
 **********************************************/

/********************************************************
 * border and color classes separate from flexbox styles
 ********************************************************/

/**********************************************
 * Individual item overrides
 **********************************************/
