name: Push Stats Code to Prod Server

on:
    push:
      branches: [ main]
      paths:
        - 'stats/**'
    pull_request:
      branches: [ main ]
      paths:
        - 'stats/**'

jobs:
    deploy-to-server:
        uses: ./.github/workflows/push-code-reusable.yml
        with:
          application: stats
          deploy-path: /var/www/stats.witchcraft-and-wizardry.school
        secrets:
          SERVER_USERNAME: ${{ secrets.SERVER_USERNAME }}
          SERVER_SSH_KEY: ${{ secrets.SERVER_SSH_KEY }}
