name: Push Code to Dev Server

env:
  SERVER: prod.edmundmulligan.name
  DEPLOY_PATH: /var/www/witches-and-wizards

on:
    push:
      branches: [ development, main]
    pull_request:
      branches: [ development, main ]

jobs:
    deploy-to-server:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout repository
          uses: actions/checkout@v4

        - name: Copy files to server
          uses: appleboy/scp-action@v0.1.4
          with:
            host: ${{ env.SERVER }}
            username: ${{ secrets.SERVER_USERNAME }}
            key: ${{ secrets.SERVER_SSH_KEY }}
            source: "images/* mentors/* students/* styles/* sitemap.* *.html"
            target: ${{ env.DEPLOY_PATH }}