name: Push Sound Code to Prod Server

on:
    push:
      branches: [ main]
      paths:
        - 'sound/**'
    pull_request:
      branches: [ main ]
      paths:
        - 'sound/**'

jobs:
    deploy-to-server:
        uses: ./.github/workflows/push-code-reusable.yml
        with:
          application: sound
          deploy-path: /var/www/sound.witchcraft-and-wizardry.school
        secrets:
          SERVER_USERNAME: ${{ secrets.SERVER_USERNAME }}
          SERVER_SSH_KEY: ${{ secrets.SERVER_SSH_KEY }}
